[Desktop Entry]
Name=Netrunner LNF
Name[es]=Netrunner LNF


X-KDE-PluginInfo-Name=Netrunner LNF
X-KDE-PluginInfo-Author=Uri Herrera
X-KDE-PluginInfo-Email=uri_herrera@nitrux.in
X-KDE-PluginInfo-License=CC BY-SA 4.0
